// Name:            Button
// Description:     Styles for buttons
//
// Component:       `uk-button`
//
// Sub-objects:     `uk-button-group`
//
// Modifiers:       `uk-button-default`
//                  `uk-button-primary`
//                  `uk-button-secondary`
//                  `uk-button-danger`
//                  `uk-button-text`
//                  `uk-button-link`
//                  `uk-button-small`
//                  `uk-button-large`
//
// States:          `uk-active`
//
// ========================================================================


// Variables
// ========================================================================

@button-line-height:                            @global-control-height;
@button-small-line-height:                      @global-control-small-height;
@button-large-line-height:                      @global-control-large-height;

@button-font-size:                              @global-font-size;
@button-small-font-size:                        @global-small-font-size;
@button-large-font-size:                        @global-medium-font-size;

@button-padding:                                .75em 3.5em;
@button-small-padding:                          .5em 1.25em;
@button-large-padding:                           .9em 4em;

@button-padding-horizontal:                     @global-gutter;
@button-small-padding-horizontal:               @global-small-gutter;
@button-large-padding-horizontal:               @global-medium-gutter;



@button-background-light:                      #FFF;
@button-background-dark:                       #000;
@button-background-gray:                       #aaaaaa;
@button-background-danger:                      @global-danger-background;

@button-background-light-hover:                 darken(@button-background-dark, 20%);
@button-background-dark-hover:                  lighten(@button-background-dark, 30%);
@button-background-gray-hover:                  darken(@button-background-dark, 20%);
@button-background-danger-hover:                darken(@button-danger-background, 5%);

@button-background-light-active:                darken(@button-background-dark, 20%);
@button-background-dark-active:                 lighten(@button-background-dark, 40%);
@button-background-gray-active:                 darken(@button-background-dark, 20%);
@button-background-danger-active:               darken(@button-danger-background, 10%);


@button-text-light:                             #FFF;
@button-text-dark:                              #000;
@button-text-gray:                              #787878;
@button-text-danger:                            #FFF;
@button-text-link:                              #000;

@button-text-light-hover:                       #FFF;
@button-text-dark-hover:                        #000;
@button-text-gray-hover:                        #787878;
@button-text-danger-hover:                     @global-inverse-color;

@button-text-light-active:                      #FFF;
@button-text-dark-active:                       #000;
@button-text-gray-active:                       #787878;
@button-text-danger-active:                     @global-inverse-color;
@button-text-disabled:                          @global-muted-color;

@button-border-light:                           #FFF;
@button-border-dark:                            #000;
@button-border-gray:                            #aaaaaa;
@button-danger-border-color:                    @global-danger-background;

@button-border-light-hover:                     #FFF;
@button-border-dark-hover:                      lighten(@button-background-dark, 30%);
@button-border-gray-hover:                      #aaaaaa;
@button-border-light-active:                    #FFF;
@button-border-dark-active:                     lighten(@button-background-dark, 40%);
@button-border-gray-active:                     #aaaaaa;


@button-text-line-height:                       @global-line-height;
@button-link-line-height:                       @global-line-height;
@button-text-link:                              @global-emphasis-color;
@button-link-hover-color:                       @global-muted-color;
@button-link-hover-text-decoration:             none;
@button-link-disabled-color:                    @global-muted-color;

@button-font-family:                            @font-family-sans;
@button-text-transform:                         uppercase;
@button-border-radius:                          0;
@button-border-width:                           2px;

@arrow-color:                                  #000;
@arrow-color-light:                            #fff;
@arrow-color-gray:                             #aaaaaa;
@arrow-color-dark:                             #000;
@arrow-white-color:                            #fff;
@arrow-padding-left:                            25px;
@arrow-padding-left-small:                       10px;
@button-font-family:                            @font-family-sans;
@button-font-weight:                            600;
@button-letter-spacing:                         .1em;

@value-hover:                                   25%; 
@value-active:                                  35%; 

@button-background-outline:                    transparent;

@button-background-danger:                      @global-danger-background;


@button-text-line-height:                       @global-line-height;
@button-link-line-height:                       @global-line-height;

@button-text-link:                             @global-link-color;
@button-link-hover-color:                       @global-link-hover-color;

@button-link-hover-text-decoration:             none;
@button-link-disabled-color:                    @global-muted-color;
/* ========================================================================
   Component: Button
 ========================================================================== */

/*
 * 1. Remove margins in Chrome, Safari and Opera.
 * 2. Remove borders for `button`.
 * 3. Address `overflow` set to `hidden` in IE.
 * 4. Correct `font` properties and `color` not being inherited for `button`.
 * 5. Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 6. Remove default style for `input type="submit"`in iOS.
 * 7. Style
 * 8. `line-height` is used to create a height because it also centers the text vertically for `a` elements.
 *    Better would be to use height and flexbox to center the text vertically but flexbox doesn't work in Firefox on `button` elements.
 * 9. Align text if button has a width
 * 10. Required for `a`.
 */

.uk-button {
    /* 1 */
    margin: 0;
    /* 2 */
    border: none;
    /* 3 */
    overflow: visible;
    /* 4 */
    font: inherit;
    color: inherit;
    /* 5 */
    text-transform: none;
    /* 6 */
    -webkit-appearance: none;
    border-radius: 0;
    /* 7 */
    display: inline-block;
    box-sizing: border-box;
    padding: 0 @button-padding-horizontal;
    vertical-align: middle;
    font-size: @button-font-size;
    /* 8 */
    line-height: @button-line-height;
    /* 9 */
    text-align: center;
    /* 10 */
    text-decoration: none;
    .hook-button();
}

.uk-button:not(:disabled) { cursor: pointer; }

/*
 * Remove the inner border and padding in Firefox.
 */

.uk-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Hover */
.uk-button:hover {
    /* 9 */
    text-decoration: none;
    .hook-button-hover();
}

/* OnClick + Active */
.uk-button:active,
.uk-button.uk-active {
    .hook-button-active();
}


/* Style modifiers
 ========================================================================== */

/*
 * Default
 */
 .uk-button-default {
    background-color: @button-default-background;
    color: @button-default-color;
    .hook-button-default();
}

/* Hover */
.uk-button-default:hover {
    background-color: @button-default-hover-background;
    color: @button-default-hover-color;
    .hook-button-default-hover();
}

/* OnClick + Active */
.uk-button-default:active,
.uk-button-default.uk-active {
    background-color: @button-default-active-background;
    color: @button-default-active-color;
    .hook-button-default-active();
}
/*
 * Primary
 */
.uk-button-primary {
    .hook-button-primary();
}

/* Hover */
.uk-button-primary:hover {
    .hook-button-primary-hover();
}

/* OnClick + Active */
.uk-button-primary:active,
.uk-button-primary.uk-active {
    .hook-button-primary-active();
}

/*
 * Secondary
 */
.uk-button-secondary {
    .hook-button-secondary();
}
/* Hover */
.uk-button-secondary:hover {
    .hook-button-secondary-hover();
}
/* OnClick + Active */
.uk-button-secondary:active,
.uk-button-secondary.uk-active {

    .hook-button-secondary-active();
}
/*
 * Danger
 */
.uk-button-danger {
    .hook-button-danger();
}
/* Hover */
.uk-button-danger:hover {
    .hook-button-danger-hover();
}
/* OnClick + Active */
.uk-button-danger:active,
.uk-button-danger.uk-active {
    .hook-button-danger-active();
}

/*
 * Disabled
 * The same for all style modifiers
 */

.uk-button-default:disabled,
.uk-button-primary:disabled,
.uk-button-secondary:disabled,
.uk-button-danger:disabled {
    .hook-button-disabled();
}


/* Size modifiers
 ========================================================================== */

.uk-button-small {
    padding: @button-small-padding;
    line-height: @button-small-line-height;
    font-size: @button-small-font-size;
    .hook-button-small();
}

.uk-button-large {
    padding: @button-large-padding;
    line-height: @button-large-line-height;
    font-size: @button-large-font-size;
    .hook-button-large();
}


/* Text modifiers
 ========================================================================== */

/*
 * Text
 * 1. Reset
 * 2. Style
 */

.uk-button-text {
    /* 1 */

    /* 2 */
    .hook-button-text();
}

/* Hover */
.uk-button-text:hover {
    .hook-button-text-hover();
}

/* Disabled */
.uk-button-text:disabled {
    .hook-button-text-disabled();
}

/*
 * Link
 * 1. Reset
 * 2. Style
 */

.uk-button-link {
    /* 1 */
    background: none;
    border-width: 0px;
    color: @button-text-dark;
    padding: 3px;
    line-height: @button-text-line-height;
    .hook-button-link();
}

/* Hover */
.uk-button-link:hover {
    background: none;
    border-width: 0px;
    color: @button-text-dark;
    padding: 3px;
    line-height: @button-text-line-height;
}

/* Disabled */
.uk-button-link:disabled {
    background: none;
    border-width: 0px;
    color: @button-text-disabled;
    padding: 3px;
    line-height: @button-text-line-height;
}


/* Group
 ========================================================================== */

/*
 * 1. Using `flex` instead of `inline-block` to prevent whitespace between child elements
 * 2. Behave like button
 * 3. Create position context
 */

.uk-button-group {
    /* 1 */
    display: inline-flex;
    /* 2 */
    vertical-align: middle;
    /* 3 */
    position: relative;
}


//  ARROW BUTTONS
 // ========================================================================*/
 .uk-arrow-primary {
    .hook-button-arrow-light();
}
.uk-arrow-primary:hover {
    .hook-button-arrow-light-hover();
}
.uk-arrow-primary:active {
    .hook-button-arrow-light-active();
}
.uk-arrow-primary:disabled {
    .hook-button-arrow-light-disabled();
}
// Secondary
.uk-arrow-secondary {
    .hook-button-arrow-dark();
}
.uk-arrow-secondary:hover {
    .hook-button-arrow-dark-hover();
}
.uk-arrow-secondary:active {
    .hook-button-arrow-dark-active();
}
.uk-arrow-secondary:disabled {
    .hook-button-arrow-dark-disabled();
}
// Text Arrow
.uk-arrow-text {
    .hook-button-arrow-text();
}
.uk-arrow-text:hover {
    .hook-button-arrow-text-hover();
}
.uk-arrow-text:disabled {
    .hook-button-arrow-text-disabled();  
}


// Hooks
// ========================================================================

.hook-button-misc();

.hook-button() {
    border-radius: @button-border-radius;
    font-family: @button-font-family;
    font-size: @button-font-size;
    font-style: normal;
    font-weight: @button-font-weight;
    letter-spacing: @button-letter-spacing;
    padding: @button-padding;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    text-wrap: pretty;
    transition: all 0.5s ease-in-out;
}
.hook-button-hover() {

}
.hook-button-active() {

}
.hook-button-default() {
    background-color: @button-background-dark;
    color: @button-text-light;
    border: @button-border-width solid @button-border-dark;
}
.hook-button-default-hover() {
    background-color: @button-background-dark-hover;
    color: @button-text-light-hover;
    border: @button-border-width solid @button-border-dark-hover;
}

.hook-button-default-active() {
    background-color: @button-background-dark;
    color: @button-text-light;
    border: @button-border-width solid @button-border-dark;
}
.hook-button-primary() {
    background-color: @button-background-dark;
    color: @button-text-light;
    border: @button-border-width solid @button-border-dark;
}
.hook-button-primary-hover() {
    background-color: @button-background-dark-hover;
    color: @button-text-light-hover;
    border: @button-border-width solid @button-border-dark-hover;
}
.hook-button-primary-active() {
    background-color: @button-background-dark-active;
    color: @button-text-light-active;
    border: @button-border-width solid @button-border-dark-active;
}

.hook-button-secondary {
    background-color: @button-background-light;
    color: @button-text-dark;
    border: @button-border-width solid @button-border-dark;
}
.hook-button-secondary-hover {
    background-color: @button-background-dark;
    color: @button-text-light;
    border: @button-border-width solid @button-border-dark;
}
.hook-button-secondary-active {
    background-color: @button-background-dark;
    color: @button-text-light;
    border: @button-border-width solid @button-border-dark;
}
.hook-button-danger() {
    background-color: @button-danger-background;
    color: @button-text-light;
}
.hook-button-danger-hover() {
    background-color: @button-background-danger-hover;
    color: @button-text-light-hover;
}
.hook-button-danger-active() {
    background-color: @button-background-danger-active;
    color: @button-text-light-active;
}
.hook-button-disabled() {
    background-color: @button-background-gray;
    color: @button-text-gray;
}
.hook-button-small() {}
.hook-button-large() {}
.hook-button-text() {
    background: none;
    border-width: 0px;
    color: @button-text-dark;
    text-transform: uppercase;
    padding: 3px;
    line-height: @button-text-line-height;
}
.hook-button-text-hover() {
    background: none;
    border-width: 0px;
    color: @button-text-gray;
    text-transform: uppercase;
    padding: 3px;
    line-height: @button-text-line-height;
}
.hook-button-text-disabled() {
    background: none;
    border-width: 0px;
    color: @button-text-disabled;
    padding: 3px;
    line-height: @button-text-line-height;
}
.hook-button-link() {}
.hook-button-misc() {}


// Arrow Buttons
// ========================================================================
.hook-button-arrow-dark() {
    &::after {
        content: "➔";
        font-size: 0.75rem;
        padding-left: @arrow-padding-left;
        color: @arrow-color-dark;
        border-left: 2px solid @arrow-color-dark;
        margin-left: @arrow-padding-left;
        transition: all 0.7s ease-in-out;
    }
}
.hook-button-arrow-dark-hover() {
    &hover {
        &::after {
            content: "➔";
            font-size: 0.75rem;
            padding-left: @arrow-padding-left;
            color: transparent;
            border-left: 2px solid transparent;
            margin-left: @arrow-padding-left;
            transition: all 0.4s ease-in-out;
        }
    }
}

.hook-button-arrow-dark-active() {
    &.active {
        &::after {
            content: "➔";
            font-size: 0.75rem;
            padding-left: @arrow-padding-left;
            color: transparent;
            border-left: 2px solid transparent;
            margin-left: @arrow-padding-left;
            transition: all 0.4s ease-in-out;
        }
    }
}

.hook-button-arrow-dark-disabled() {
    &.disabled {
        &::after {
            content: "➔";
            font-size: 0.75rem;
            padding-left: @arrow-padding-left;
            color: @button-border-gray;
            border-left: 2px solid @button-border-gray;
            margin-left: @arrow-padding-left;
            transition: all 0.4s ease-in-out;
        }
    }
}

.hook-button-arrow-light() {
    &::after {
        content: "➔";
        font-size: 0.75rem;
        padding-left: @arrow-padding-left;
        color: @button-text-light;
        border-left: 2px solid @button-border-light;
        margin-left: @arrow-padding-left;
        transition: all 0.7s ease-in-out;
    }
}

.hook-button-arrow-light-hover() {
        &::after {
            content: "➔";
            font-size: 0.75rem;
            padding-left: @arrow-padding-left;
            color: transparent;
            border-left: 2px solid transparent;
            margin-left: @arrow-padding-left;
            transition: all 0.4s ease-in-out;
        }
    }

.hook-button-arrow-light-active() {
        &::after {
            content: "➔";
            font-size: 0.75rem;
            padding-left: @arrow-padding-left;
            color: transparent;
            border-left: 2px solid transparent;
            margin-left: @arrow-padding-left;
            transition: all 0.4s ease-in-out;
        }
    }

.hook-button-arrow-light-disabled() {
        &::after {
            content: "➔";
            font-size: 0.75rem;
            padding-left: @arrow-padding-left;
            color: @button-border-gray;
            border-left: 2px solid @button-border-gray;
            margin-left: @arrow-padding-left;
            transition: all 0.7s ease-in-out;
        }
    }

.hook-button-arrow-text() {
    &::after {
        content: "➔";
        border-left: 2px solid @arrow-color-dark;
        color: @arrow-color-dark;
        font-size: 0.75rem;
        margin: 0px 20px 0px 0px;
        padding-left: @arrow-padding-left;
        margin-left: @arrow-padding-left;
        transition: all 0.4s ease-in-out;
    }
}

.hook-button-arrow-text-hover() {
    &.hover {
        &::after {
            content: "➔";
            border-left: 2px solid @arrow-color-light;
            color: @arrow-color-light;
            font-size: 0.75rem;
            margin: 0px 20px 0px 0px;
            padding-left: @arrow-padding-left;
            margin-left: @arrow-padding-left;
            transition: all 0.4s ease-in-out;
        }
    }
}

.hook-button-arrow-text-active() {
    &.active {
        &::after {
            content: "➔";
            border-left: 2px solid transparent;
            color: transparent;
            font-size: 0.75rem;
            margin: 0px 20px 0px 0px;
            padding-left: @arrow-padding-left;
            margin-left: @arrow-padding-left;
            transition: all 0.4s ease-in-out;
        }
    }
}
.hook-button-arrow-text-disabled() {
    &.disabled {
            &::after {
                content: "➔";
                border-left: 2px solid transparent;
                color: transparent;
                font-size: 0.5rem;
                margin: 0px 20px 0px 0px;
                padding-left: @arrow-padding-left;
                margin-left: @arrow-padding-left;
                transition: all 0.4s ease-in-out;
            }
        }
    }
// Inverse
// ========================================================================

@inverse-button-background-light:                        @button-background-dark;
@inverse-button-background-gray:                         @button-background-gray;
@inverse-button-background-dark:                         @button-background-light;

@inverse-button-border-light:                            @button-border-dark;
@inverse-button-border-gray:                             @button-border-gray;
@inverse-button-border-dark:                             @button-border-light;

@inverse-button-text-light:                              @button-text-dark;
@inverse-button-text-gray:                               @button-text-gray;
@inverse-button-text-dark:                               @button-text-light;

@inverse-button-text-color:                              @inverse-global-emphasis-color;
@inverse-button-text-muted-color:                        @inverse-global-muted-color;
@inverse-button-text-dark:                               @button-text-dark;
@inverse-button-text-link:                              @inverse-global-emphasis-color;
@inverse-button-link-muted-color:                        @button-text-dark;

.hook-inverse() {

    //
    // Default
    //

    .uk-button-default {
        background-color: @inverse-button-background-dark;
        color: @inverse-button-text-light;
        .hook-inverse-button-default();
    }

    .uk-button-default:hover {
        background-color: @inverse-button-background-light;
        color: @inverse-button-text-dark;
        .hook-inverse-button-default-hover();
    }

    .uk-button-default:active,
    .uk-button-default.uk-active {
        background-color: @inverse-button-background-light;
        color: @inverse-button-text-dark;
        .hook-inverse-button-default-active();
    }

    //
    // Primary
    //

    .uk-button-primary {
        background-color: @inverse-button-background-dark;
        color: @inverse-button-text-light;
        .hook-inverse-button-primary();
    }

    .uk-button-primary:hover {
        background-color: @inverse-button-background-light;
        color: @inverse-button-text-dark;
        .hook-inverse-button-primary-hover();
    }

    .uk-button-primary:active,
    .uk-button-primary.uk-active {
        background-color: @inverse-button-background-light;
        color: @inverse-button-text-dark;
        .hook-inverse-button-primary-active();
    }

    //
    // Secondary
    //

    .uk-button-secondary {
        background-color: @inverse-button-background-light;
        color: @inverse-button-text-dark;
        .hook-inverse-button-secondary();
    }

    .uk-button-secondary:hover {
        background-color: @inverse-button-background-dark;
        color:  @inverse-button-text-light;
        .hook-inverse-button-secondary-hover();
    }

    .uk-button-secondary:active,
    .uk-button-secondary.uk-active {
        background-color: @inverse-button-background-dark;
        color:  @inverse-button-text-light;
        .hook-inverse-button-secondary-active();
    }

    //
    // Text
    //

    .uk-button-text {
        color: @inverse-button-text-dark;
        .hook-inverse-button-text();
    }

    .uk-button-text:hover {
        color: @inverse-button-text-gray;
        .hook-inverse-button-text-hover();
    }

    .uk-button-text:disabled {
        color: @inverse-button-text-gray;
        .hook-inverse-button-text-disabled();
    }

    //
    // Link
    //

    .uk-button-link {
        color: @inverse-button-text-link;
        .hook-inverse-button-link();
    }

    .uk-button-link:hover { color: @inverse-button-link-hover-color; }

}

.hook-inverse-button-default() {}
.hook-inverse-button-default-hover() {}
.hook-inverse-button-default-active() {}
.hook-inverse-button-primary() {}
.hook-inverse-button-primary-hover() {}
.hook-inverse-button-primary-active() {}
.hook-inverse-button-secondary() {}
.hook-inverse-button-secondary-hover() {}
.hook-inverse-button-secondary-active() {}
.hook-inverse-button-text() {}
.hook-inverse-button-text-hover() {}
.hook-inverse-button-text-disabled() {}
.hook-inverse-button-link() {}
